################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Intranet/IntranetApi/IntranetApi/bin
/Intranet/IntranetApi/IntranetApi/obj/Release/net6.0
