  .customTableBorderHeader {
      border: 0.5px solid #dcdfe6 !important;
      border-collapse: collapse !important;
      padding: 0.75em 1.5em 0.75em 0.75em !important;
      color: #606266;
      vertical-align: bottom;
      background: linear-gradient(#f4f5f8, #f1f3f6);
  }

  .customTableCell {
      border: 1px solid #dcdfe6 !important;
      border-collapse: collapse !important;
  }

  .customTableCellOnMobile {
    border: 1px solid #dcdfe6 !important;
    border-collapse: collapse !important;
    font-size: 0.75rem !important;
    }

    .backgroundWarning {
        background: #FFF4A3 !important;
        /* border-left-style: none !important;
        border-right-style: none !important; */
    }

    .backgroundSuccess {
        background: #a8e6cf !important;
        /* border-left-style: none !important;
        border-right-style: none !important; */
    }

    .backgroundPink {
        background: #eecff4 !important;
        /* border-left-style: none !important;
        border-right-style: none !important; */
    }

    .backgroundLightBlue {
        background: #AED6F1 !important;
        /* border-left-style: none !important;
        border-right-style: none !important; */
    }

  .b-table .table {
      border-collapse: collapse !important;
  }

  .table-footer {
      border: 1px solid #dcdfe6 !important;
  }

  .customTable {
  display: block;
  /* max-width: -moz-fit-content !important;
  max-width: fit-content !important; */
  margin: 0 auto;
  overflow-x: auto;
  }

  .customTable table {
  display: block;
  /* max-width: -moz-fit-content;
  max-width: fit-content; */
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}


@media screen and (max-width: 768px) {
    .b-table .table-wrapper.has-mobile-cards tr {
        box-shadow: 0 2px 3px rgb(10 10 10 / 10%);
        margin-bottom: 6px !important;
    }

    .b-table>.table-mobile-sort{
        display: none;
    }
}
 