  .customTableBorderHeader {
      border: 0.5px solid #dcdfe6 !important;
      border-collapse: collapse !important;
      padding: 0.75em 1.5em 0.75em 0.75em !important;
      color: #606266;
      vertical-align: bottom;
      background: linear-gradient(#f4f5f8, #f1f3f6);
  }

  .customTableCell {
      border: 1px solid #dcdfe6 !important;
      border-collapse: collapse !important;
  }

  .b-table .table {
      border-collapse: collapse !important;
  }

  .table-footer {
      border: 1px solid #dcdfe6 !important;
  }

  .customTable {
  display: block;
  /* max-width: -moz-fit-content !important;
  max-width: fit-content !important; */
  margin: 0 auto;
  overflow-x: auto;
  }

  .customTable table {
  display: block;
  /* max-width: -moz-fit-content;
  max-width: fit-content; */
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

 